<style>
    .addbtn {
        position: fixed;
        bottom: 80px;
        right: 35px;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #04AA6D; /* Blue background */
        color: white;
        transition: all 0.2s ease;
        z-index: 3;
    }
    .deletebtn {
        background-color: rgb(223, 64, 36); /* Red background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: 15%;
    }
    /* Darker background on mouse-over */
    .addbtn:hover {
        background-color: rgb(44, 114, 78);
    }
    .deletebtn:hover {
        background-color: rgb(133, 51, 51);
    }
</style>
<div class="form-popup" id="add-form">
  <form action="/Tailieu/Create" class="form-container">
    <h1>Đăng tải tài liệu</h1>

    <label><b>Tiêu đề</b></label>
    <input type="text" name="title" required>

    <label><b>Ngày đăng</b></label>
    <input type="date" name="date" required>

    <label><b>Link Tải</b></label>
    <input type="text" name="link" required>

    <label><b>Người đăng</b></label>
    <input type="text" name="uploader" required>

    <label><b>Tên môn học</b></label>
    <input type="text" name="subject" required>

    <button type="submit" class="btn">Tạo</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Hủy</button>
  </form>
</div>
<div class="col-md-12">
    <div id="container" class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="inbox-head">                
                <h3>Quản lý tài liệu</h3>               
                <form action="/Dkmh/Search" class="pull-right position search_inbox" method="POST">
                    <div class="input-append">
                        <input type="text" class="sr-input" name="search" list="searchlist" placeholder="Tiêu đề">
                        <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>        
        <div id="tableContainer" class="table_section padding_infor_info">
            <button id="create" class="addbtn"><i class="fas fa-plus"></i></button>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>STT</th>
                            <th>Tiêu đề</th>
                            <th>Ngày đăng</th>
                            <th>Tên môn học</th>   
                            <th>Link tải</th>
                            <th>Xóa</th>              
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        {{#each documents}} 
                            <form>
                                <tr name="{{this.STT}}">
                                    <td>{{this.STT}}</td>                        
                                    <td>{{this.TIEUDE}}</td>
                                    <td>{{this.NGAYDANG}}</td>
                                    <td>{{this.TENMONHOC}}</td>
                                    <td>{{this.LINKTAI}}</td>                                       
                                    <td>
                                        <button type="submit" class="deletebtn"><i class="fas fa-trash"></i></button>
                                    </td>                                                                                                                                     
                                </tr>                                                           
                            </form>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
<script>
    function closeForm(){
       document.getElementById("add-form").style.display = "none";
    }
    function closeForm1(){
        document.getElementById("update_form").style.display = "none";
    }
    document.getElementById("create").addEventListener("click", function(){
        document.getElementById("add-form").style.display = "block";
    })
    var all_check = document.querySelectorAll("#update");
    all_check.forEach(function(checkbox){
        checkbox.addEventListener('click',function (){
        document.getElementById("update_form").style.display = "block";
        })
    })
</script>
<!-- jQuery -->
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>