<style>
    .addbtn {
        position: fixed;
        bottom: 80px;
        right: 35px;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #04AA6D; /* Blue background */
        color: white;
        transition: all 0.2s ease;
        z-index: 3;
    }
    .updatebtn {
        background-color: rgb(220, 220, 66); /* Yellow background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 10px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: 15%;
    }

    .readbtn {
       background-color: rgb(57, 159, 222); /* Yellow background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 10px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: 15%;
    }

    /* Darker background on mouse-over */
    .addbtn:hover {
        background-color: rgb(44, 114, 78);
    }
    .updatebtn:hover {
        background-color: rgb(151, 141, 62);
    }
</style>
<div class="form-popup" id="add-form">
  <form action="/Nienkhoa/Create" method="POST" class="form-container">
    <h1>Tạo thông tin niên khóa</h1>

    <label><b>Học kỳ</b></label>
    <input type="text" name="semester" required>

    <label><b>Thời gian bắt đầu</b></label>
    <input type="date" name="start" required>

    <label><b>Thời gian kết thúc</b></label>
    <input type="date" name="end" required>

    <label><b>Niên khóa</b></label>
    <input type="text" name="schoolyear" required>

    <button type="submit" class="btn">Tạo</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Hủy</button>
  </form>
</div>
<div class="form-popup" id="update_form">
  <form action="/Nienkhoa/Update" method="POST" class="form-container">
    <h1>Chỉnh sửa thông tin lớp</h1>
    <label><b>STT</b></label>
    <input id="sy_id" type="text" name="sy_id" readonly>

    <label><b>Học kỳ</b></label>
    <input type="text" name="semester" required>

    <label><b>Thời gian bắt đầu</b></label>
    <input type="date" name="start" required>

    <label><b>Thời gian kết thúc</b></label>
    <input type="date" name="end" required>

    <label><b>Niên khóa</b></label>
    <input type="text" name="schoolyear" required>

    <button type="submit" class="btn">Cập Nhật</button>
    <button type="button" class="btn cancel" onclick="closeForm1()">Hủy</button>
  </form>
</div>
<div class="col-md-12">
    <div id="container" class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="inbox-head">                
                <h3>Danh sách niên khóa</h3>               
            </div>
        </div>        
        <div id="tableContainer" class="table_section padding_infor_info">
            <button id="create" class="addbtn"><i class="fas fa-plus"></i></button>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>STT</th>
                            <th>Học kỳ</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Niên khóa</th> 
                            <th>Cập nhật</th>             
                            <th>Chi tiết học phí học kỳ</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        {{#each schoolyear}} 
                            <form>
                                <tr>
                                    <td>{{this.STT}}</td>                        
                                    <td>{{this.HOCKY}}</td>
                                    <td>{{this.TGBATDAU}}</td>
                                    <td>{{this.TGKETTHUC}}</td>
                                    <td>{{this.NIENKHOA}}</td>  
                                    <td>
                                        <button name={{this.STT}} id="update" type="button" class="updatebtn"><i class="far fa-edit"></i></button>                                    
                                    </td> 
                                    <td>
                                        <a id="read" href="/Nienkhoa/Detail?stt={{this.STT}}" type="button" class="readbtn"><i class="fas fa-eye"></i></a>                                    
                                    </td>                                                                                                                                      
                                </tr>                                                           
                            </form>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
<script>
    function closeForm(){
       document.getElementById("add-form").style.display = "none";
    }
    function closeForm1(){
        document.getElementById("update_form").style.display = "none";
    }
    document.getElementById("create").addEventListener("click", function(){
        document.getElementById("add-form").style.display = "block";
    })
    var all_clicks = document.querySelectorAll("#update");
    all_clicks.forEach(function(button){
        button.addEventListener('click',function (){
        document.getElementById("update_form").style.display = "block";
        var id = button.getAttribute('name');
        var form = document.getElementById("update_form");
        form.querySelector('#sy_id').value = id;
        })
    })
</script>
<!-- jQuery -->
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>