<style>
    .addbtn {
        position: fixed;
        bottom: 80px;
        right: 35px;
        outline: none;
        border: none;
        height: 50px;
        width: 50px;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #04AA6D; /* Blue background */
        color: white;
        transition: all 0.2s ease;
        z-index: 3;
    }
    .updatebtn {
        background-color: rgb(220, 220, 66); /* Yellow background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 10px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: 15%;
    }
    .deletebtn {
        background-color: rgb(223, 64, 36); /* Red background */
        border: none; /* Remove borders */
        color: white; /* White text */
        padding: 12px 16px; /* Some padding */
        font-size: 16px; /* Set a font size */
        cursor: pointer; /* Mouse pointer on hover */
        border-radius: 15%;
    }
    /* Darker background on mouse-over */
    .addbtn:hover {
        background-color: rgb(44, 114, 78);
    }
    .updatebtn:hover {
        background-color: rgb(151, 141, 62);
    }
    .deletebtn:hover {
        background-color: rgb(133, 51, 51);
    }
</style>
<div class="form-popup" id="add-form">
  <form action="/Sinhvien/Create" method="POST" class="form-container">
    <h1>Tạo thông tin cho sinh viên</h1>

    <label><b>Mã số sinh viên</b></label>
    <input type="text" placeholder="MSSV" name="mssv" required>

    <label><b>Họ và tên</b></label>
    <input type="text" placeholder="RayGaming" name="name" required>

    <label><b>Ngày sinh</b></label>
    <input type="date" name="dob" >

    <label><b>Địa chỉ</b></label>
    <input type="text" placeholder="123ST" name="address" required>

    <label><b>Email</b></label>
    <input type="email" placeholder="example@email.com" name="email" required>

    <label><b>Lớp</b></label>
    <input type="text" placeholder="DCT12XX" name="class" required>

    <label><b>Ngành</b></label>
    <input type="text" placeholder="KTPM" name="department" required>

    <label><b>Khoa</b></label>
    <input type="text" placeholder="CNTT" name="faculty" required>

    <label><b>Niên khóa</b></label>
    <input type="text" placeholder="2020-2025" name="year" required>

    <label><b>Hình ảnh</b></label>
    <input type="file" placeholder="2020-2025" name="img">

    <button id="create_btn" type="submit" class="btn">Tạo</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Hủy</button>
  </form>
</div>
<div class="form-popup" id="update_form">
  <form action="/Sinhvien/Update" method="POST" class="form-container">
    <h1>Chỉnh sửa thông tin cho sinh viên</h1>

    <label><b>ID</b></label>
    <input type="text" id="std_id" name="id" readonly>

    <label><b>Họ và tên</b></label>
    <input type="text" placeholder="RayGaming" name="name">

    <label><b>Ngày sinh</b></label>
    <input type="date" name="dob" >

    <label><b>Địa chỉ</b></label>
    <input type="text" placeholder="123ST" name="address">

    <label><b>Email</b></label>
    <input type="email" placeholder="example@email.com" name="email">

    <label><b>Lớp</b></label>
    <input type="text" placeholder="DCT12XX" name="class">

    <label><b>Ngành</b></label>
    <input type="text" placeholder="KTPM" name="department">

    <label><b>Khoa</b></label>
    <input type="text" placeholder="CNTT" name="faculty">

    <label><b>Niên khóa</b></label>
    <input type="text" placeholder="2020-2025" name="year">

    <button id="create_btn" type="submit" class="btn">Cập nhật</button>
    <button type="button" class="btn cancel" onclick="closeForm1()">Hủy</button>
  </form>
</div>
<div class="col-md-12">
    <div id="container" class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="inbox-head">                
                <h3>Danh sách sinh viên</h3>               
                <form action="/Sinhvien/Search" class="pull-right position search_inbox" method="POST">
                    <div class="input-append">
                        <input type="text" class="sr-input" name="search" list="searchlist" placeholder="Mã sinh viên">
                        <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>          
        <div id="tableContainer" class="table_section padding_infor_info">
            <button id="create" class="addbtn"><i class="fas fa-plus"></i></button>
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="table-primary">
                        <tr>
                            <th>MSSV</th>
                            <th>Hình ảnh</th>
                            <th>Họ tên</th>
                            <th>Ngày sinh</th>
                            <th>Địa chỉ</th> 
                            <th>Email</th>
                            <th>Lớp</th>
                            <th>Ngành</th>
                            <th>Khoa</th>
                            <th>Niên khóa</th>     
                            <th>Cập nhật</th>
                            <th>Xóa</th>              
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        {{#each students}} 
                            <form>
                                <tr>
                                    <td>{{this.MASO}}</td>
                                    <td><img src="{{this.HINHANH}}" width="100", height="100"></td>
                                    <td>{{this.HOTEN}}</td>
                                    <td>{{this.NGAYSINH}}</td>
                                    <td>{{this.DIACHI}}</td>
                                    <td>{{this.EMAIL}}</td>
                                    <td>{{this.LOP}}</td>
                                    <td>{{this.NGANH}}</td>
                                    <td>{{this.KHOA}}</td>
                                    <td>{{this.NIENKHOA}}</td>
                                    <td>
                                        <button name="{{this.MASO}}" id="update" type="button" class="updatebtn"><i class="far fa-edit"></i></button>                                    
                                    </td>   
                                    <td>
                                        <button name="{{this.MASO}}" id="delete" type="button" class="deletebtn"><i class="fas fa-trash"></i></button>
                                    </td>                                                                                                                                     
                                </tr>                                                           
                            </form>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>
<script>
    function closeForm(){
       document.getElementById("add-form").style.display = "none";
    }
    function closeForm1(){
        document.getElementById("update_form").style.display = "none";
    }
    document.getElementById("create").addEventListener("click", function(){
        document.getElementById("add-form").style.display = "block";
    })
    var all_check = document.querySelectorAll("#update");
    all_check.forEach(function(button){
        button.addEventListener('click',function (){
        document.getElementById("update_form").style.display = "block";
        var maso = button.getAttribute('name');
        var form = document.getElementById("update_form");
        form.querySelector('#std_id').value = maso;
        })
    })

    var all_click = document.querySelectorAll("#delete");
     all_click.forEach(function(button){
        button.addEventListener('click',function (){
        var maso = button.getAttribute('name');
        window.location.href = "/Sinhvien/Delete?id="+maso;
        })
    })
</script>
<!-- jQuery -->
<script src="/Script/jquery.min.js"></script>
<script src="/Script/popper.min.js"></script>
<script src="/Script/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="/Script/animate.js"></script>
<!-- select country -->
<script src="/Script/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="/Script/owl.carousel.js"></script> 
<!-- chart js -->
<script src="/Script/Chart.min.js"></script>
<script src="/Script/Chart.bundle.min.js"></script>
<script src="/Script/utils.js"></script>
<script src="/Script/analyser.js"></script>
<!-- nice scrollbar -->
<script src="/Script/perfect-scrollbar.min.js"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="/Script/custom.js"></script>
<script src="/Script/chart_custom_style1.js"></script>